@import-normalize;

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;

  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-weight: 300;
  font-size: 1.25rem;
  border: none;
  padding: 6px 30px;
  border: 1px solid transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
